<a href="https://colab.research.google.com/github/5h0wr0v/5h0wr0v/blob/main/Lab_Evaluation_5843_%2C_5669.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PROBLEM 1:
Calculating and Manipulating the length of a string

In [6]:
def fun(s):
    ans = ""
    if len(s) < 2:
        k  = "Empty String"
    else :
        first = s[:2]
        last = s[len(s) - 2: len(s)]

        k = first + last #221-15-5843,221-15-5669

    return k

print(fun("w3resource"))
print(fun("w3"))
print(fun("w"))

w3ce
w3w3
Empty String

PROBLEM 2:
Swapping Two Strings With One another

In [2]:
def chars_swap(a, b):
    showrov = b[:2]+a[2:]
    azam= a[:2] + b[2:]

    return showrov+" "+azam  #221-15-5843

print(chars_swap("ABC","XYZ"))

XYC ABZ

PROBLEM 3:

In [3]:
x= input()

y= x[0] + x[len(x)//2]+x[len(x)-1] #221-15-5843;  221-15-5669

print(y)

MASUM BAKAUL
MBL

PROBLEM 4:
Matching two List and Returning True or None

In [4]:
#221-15-5843;  221-15-5669
def fun(list1, list2):
    for element in list1:
        if element in list2:
            return True
    return None

print(fun(list1=[1, 2, 3, 4, 5], list2=[6, 7, 8, 9, 10]))
print(fun(list1=[1, 2, 3, 4, 5], list2=[5, 7, 8, 9, 10]))

None
True

PROBLEM 5:
Deleting a selected item from a list

In [7]:
x = [5, 20, 15, 20, 25, 50, 20]
z = [value for value in x if value != 20]
print(z)

[5, 15, 25, 50]